#ocean {
  background-image: url("./imagenes//ocean1.jpg");
  width: 900px;
  height: 700px;
  background-size: contain;
}

.player {
  position: absolute;
  width: 70px;
  height: 75px;
  background-image: url("./imagenes//player1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.enemy {
  position: absolute;
  width: 70px;
  height: 75px;
  background-image: url("./imagenes//enemy1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.missile {
  background-color: blue;
  width: 4px;
  height: 10px;
  position: absolute;
}
